@tailwind base;
@tailwind components;
@tailwind utilities;

/* Couleur de fond générale */
body {
    @apply bg-white text-gray-800 antialiased;
}

/* Liens interactifs */
a {
    @apply text-blue-600 hover:text-blue-800 transition-colors;
}

/* Titres */
h1, h2, h3, h4 {
    @apply font-bold text-gray-900;
}

/* Scrollbar discrète */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 3px;
}
